manifest {
  author = 'Marco De La Pierre'
  name = 'toy-cowsay-nf'
  description = 'Toy pipeline for simple Nextflow tests'
  homePage = 'https://github.com/marcodelapierre/toy-cowsay-nf'

  defaultBranch = 'main'
  nextflowVersion = '!>=23.12.0-edge'
}

profiles {

singularity {
  process.cache = 'lenient'
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  singularity.enabled = true
  singularity.autoMounts = true
}
singularityAutoPull {
  process.cache = 'lenient'
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  singularity.enabled = true
  singularity.autoMounts = true
  singularity.ociAutoPull = true
}
docker {
  process.cache = 'lenient'
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  docker.enabled = true
}
podman {
  process.cache = 'lenient'
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  podman.enabled = true
}
ocisingularity {
  process.cache = 'lenient'
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  singularity.enabled = true
  singularity.autoMounts = true
  singularity.oci = true
}

conda {
  process.cache = 'lenient'
  process.conda = 'conda-forge::cowpy'
  conda.enabled = true
}
condayaml {
  process.cache = 'lenient'
  process.conda = 'conda.yaml'
  conda.enabled = true
}
condawave {
  process.cache = 'lenient'
  process.conda = 'conda-forge::cowpy'
//  process.conda = 'conda-forge::cowpy https://conda.deepmodeling.com::deepmd-kit=*=*cpu https://conda.deepmodeling.com::libdeepmd=*=*cpu'
  docker.enabled = true
  wave {
    strategy = ['conda']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
condawavepodman {
  process.cache = 'lenient'
  process.conda = 'conda-forge::cowpy'
  podman.enabled = true
  wave {
    strategy = ['conda']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
condawavesing {
  process.cache = 'lenient'
  process.conda = 'conda-forge::cowpy'
  singularity.enabled = true
  singularity.autoMounts = true
  wave {
    strategy = ['conda']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
condawaveyaml {
  process.cache = 'lenient'
  process.conda = 'conda.yaml'
//  process.conda = 'conda-forge::cowpy https://conda.deepmodeling.com::deepmd-kit=*=*cpu https://conda.deepmodeling.com::libdeepmd=*=*cpu'
  docker.enabled = true
  wave {
    strategy = ['conda']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}

spackbase {
  process.cache = 'lenient'
  spack.enabled = true
}
spack {
  process.cache = 'lenient'
  process.spack = 'cowsay nano ^ncurses abi=5'
  spack.enabled = true
}
spackarch {
  process.cache = 'lenient'
  process.arch = [name:'linux/x86_64', target:'x86_64_v2']
//  process.arch = 'x86_64_v2'
//  process.arch = 'zen2'
  process.spack = 'cowsay nano ^ncurses abi=5'
  spack.enabled = true
}
spackyaml {
  process.cache = 'lenient'
  process.spack = 'spack.yaml'
  spack.enabled = true
}
spackwave {
  process.cache = 'lenient'
  process.spack = 'cowsay nano ^ncurses abi=5'
  docker.enabled = true
  wave {
    strategy = ['spack']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
spackwavepodman {
  process.cache = 'lenient'
  process.spack = 'cowsay nano ^ncurses abi=5'
  podman.enabled = true
  wave {
    strategy = ['spack']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
spackwavesing {
  process.cache = 'lenient'
  process.spack = 'cowsay nano ^ncurses abi=5'
  singularity.enabled = true
  singularity.autoMounts = true
  wave {
    strategy = ['spack']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
spackwavearch {
  process.cache = 'lenient'
  process.arch = [name:'linux/x86_64', target:'x86_64_v2']
  process.spack = 'cowsay nano ^ncurses abi=5'
  docker.enabled = true
  wave {
    strategy = ['spack']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
spackwaveyaml {
  process.cache = 'lenient'
  process.spack = 'spack.yaml'
  docker.enabled = true
  wave {
    strategy = ['spack']
    enabled = true
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}
spackwaveoptions {
  process.cache = 'lenient'
  process.spack = 'cowsay'
  docker.enabled = true
  wave {
    strategy = ['spack']
    enabled = true
    build.spack.builderImage = 'spack/ubuntu-focal:v0.19.0'
    build.spack.runnerImage = 'ubuntu:20.04'
    build.spack.osPackages = 'libgomp1 vim'
    build.spack.cFlags = '-O2'
    build.spack.cxxFlags = '-O1'
    build.spack.fFlags = '-O0'
    build.spack.commands = [ 'LABEL "zio"="sergio"' ]
  }
  tower.accessToken = "$TOWER_ACCESS_TOKEN"
}


}
