manifest {
  author = 'Marco De La Pierre'
  name = 'toy-cowsay-nf'
  description = 'Toy pipeline for simple Nextflow tests'
  homePage = 'https://github.com/marcodelapierre/toy-cowsay-nf'

  nextflowVersion = '!>=22.04.0'
}

profiles {

singularity {
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  singularity.enabled = true
}
docker {
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  docker.enabled = true
}
podman {
  process.container = 'quay.io/marcodelapierre/cowsay:2023.01'
  podman.enabled = true
}

conda {
  process.conda = 'conda-forge::cowpy'
  conda.enabled = true
}
condawave {
  process.conda = 'conda-forge::cowpy'
  docker.enabled = true
  wave {
    strategy = ['conda']
    enabled = true
  }
}

spack {
  process.spack = 'cowsay'
  spack.enabled = true
}

}
